* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f3f5fc;
}

header {
  height: 5rem;
  background-color: #a2c3eb;
  display: flex;
  align-items: center;
  padding: 0 2rem;
}

header h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  color: #ffffff;
}

footer{
  height: 4.4rem;
  background-color: #d8eaff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
}

footer span{
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  margin: 5px;
  color: #0a3871;
}

footer a{
  text-decoration: none;
  color: #0a3871;
}

button {
  cursor: pointer;
}

main {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container-principal {
  width: 50%;
  background: #ffffff;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-principal textarea {
  width: 90%;
  height: 60vh;
  resize: none;
  margin-top: 20px;
  padding: 10px;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  color: #0a3871;
}

.container-principal textarea:focus {
  outline: none;
}

.container-principal textarea::placeholder {
  color: #0a3871;
}

.container-principal .text-warning {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #495057;
  opacity: 0.8;
}
.container-result {
  width: 50%;
  margin: 0 2rem 0 1rem;
  background: #ffffff;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-objects-results {
  display: none;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
}
.result {
  width: 90%;
  height: 58vh;
  resize: none;
  margin-top: 20px;
  padding: 10px;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  color: #0a3871;
}

.result:focus {
  outline: none;
}

.message {
  display: none;
  color: #0f1e31;
  font-size: medium;
  font-style: italic;
  font-weight: bold;
}

.container-objects {
  height: 78vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img-person {
  width: 70%;
  height: 70%;
  margin-top: 20%;
  margin-bottom: 20px;
}
.text-p-1 {
  width: 70%;
  height: 70%;
  font-style: normal;
  font-weight: 700;
  color: #343a40;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  margin-bottom: 20px;
}
.text-p-2 {
  width: 70%;
  height: 70%;
  font-style: normal;
  font-weight: 400;
  color: #495057;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
}

.btn-copy {
  width: 60%;
  margin-top: 5%;
  margin-bottom: 20px;
  background: #ffffff;
  border: 1px solid #0a3871;
  border-radius: 24px;
  color: #0a3871;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  padding: 10px;
}

.btn-copy:hover {
  background: #0a3871;
  color: #ffffff;
}

.container-btns {
  width: 90%;
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.btn-enc {
  width: 35%;
  background: #0a3871;
  border: 1px solid #0a3871;
  border-radius: 24px;
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  padding: 15px;
}

.btn-enc:hover {
  background: #ffffff;
  color: #0a3871;
}

.btn-dec {
  width: 35%;
  background: #d8dfe8;
  border: 1px solid #0a3871;
  border-radius: 24px;
  color: #0a3871;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  padding: 15px;
}

.btn-dec:hover {
  background: #ffffff;
  color: #0a3871;
}

.btn-limpiar {
  width: 20%;
  display: none;
  background: #ffffff;
  border: 1px solid #0a3871;
  border-radius: 24px;
  color: #0a3871;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  padding: 15px;
}
/* Mode responsive */

@media screen and (max-width: 480px) {
  header {
    width: 100%;
    margin-bottom: 10px;
    padding: 20px 0px 20px 0px;
    justify-content: center;
  }

  header img {
    display: none;
  }
  header h1 {
    font-size: 24px;
  }

  main {
    width: 100%;
    padding: 0px;
    display: block;
  }

  .container-principal {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container-principal textarea {
    width: 90%;
    height: 50vh;
    padding: 5px;
    font-size: 16px;
  }

  .container-principal .text-warning {
    padding: 10px;
  }

  .container-btns {
    width: 90%;
    display: block;
  }

  .btn-enc,
  .btn-dec {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
  }
  .btn-limpiar {
    width: 100%;
    padding: 5px;
  }
  .container-result {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px 0px 20px 0px;
    margin-right: 0px;
    margin-left: 0px;
  }

  .img-person {
    display: none;
  }

  .result {
    width: 90%;
    padding: 5px;
    margin: 0px;
    font-size: 16px;
  }
}